.card {
  width: clamp(300px, 30vw, 400px);
  min-height: 300px;

  // when screen is small, clamp to 100vw
  @media (max-width: 600px) {
    width: clamp(300px, 100vw, 400px);
  }
}

// Fake profile image
.header-image {
  //background-image: url('https://picsum.photos/100');
  background-size: cover;
}

img {
  min-height: 240px;
  background: transparent url('/assets/gif/loading.gif') no-repeat scroll center
    center;
  background-size: 40px;
  cursor: pointer;
}

a {
  color: black;
}

.image-link {
  display: contents;
}
