<ng-container *ngIf="item; else loading">
  <mat-card class="card">
    <mat-card-header>
      <div class="header-image" mat-card-avatar></div>
      <mat-card-title>{{ item.author }}</mat-card-title>
      <mat-card-subtitle>
        <a [href]="item.url" target="_blank">Source</a>
      </mat-card-subtitle>
    </mat-card-header>
    <img [src]="item.download_url" alt="Photo of a Shiba Inu" mat-card-image />
    <mat-card-content></mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-fab>
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
