<ng-container *ngIf="item; else loading">
  <mat-card class="card">
    <mat-card-header>
      <div
        [ngStyle]="{
          'background-image':
            'url(https://picsum.photos/30?skip_cache' + item.id + ')'
        }"
        class="header-image"
        mat-card-avatar
      ></div>
      <mat-card-title>{{ item.author }}</mat-card-title>
      <mat-card-subtitle>
        <a [href]="item.url" target="_blank">Source</a>
      </mat-card-subtitle>
    </mat-card-header>
    <img
      [routerLink]="item.id"
      [src]="item.download_url"
      alt="Gallery photo"
      mat-card-image
    />
  </mat-card>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
