<ng-container *ngIf="item; else loading">
  <mat-card class="card" data-cy="card">
    <mat-card-header>
      <div
        [ngStyle]="{
          'background-image':
            'url(https://picsum.photos/30?skip_cache' + item.id + ')'
        }"
        class="header-image"
        mat-card-avatar
      ></div>
      <mat-card-title data-cy="author">{{ item.author }}</mat-card-title>
      <mat-card-subtitle>
        <a [href]="item.url" data-cy="source-link" target="_blank">Source</a>
      </mat-card-subtitle>
    </mat-card-header>
    <a [routerLink]="'/photos/' + item.id" class="image-link">
      <img [src]="item.thumbnail_url" alt="Gallery photo" mat-card-image />
    </a>
  </mat-card>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
