@use 'sizes' as *;

.container {
  margin: 0;
  padding: $spacing-s;
  display: flex;
  flex-direction: column;
}

img {
  height: auto;
  min-width: 40px;
  min-height: 140px;
  max-height: calc(100vh - ($spacing-base * 40));
  background: transparent url('/assets/gif/loading.gif') no-repeat scroll center
    center;
  background-size: 40px;
  padding: 0;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

button {
  margin: $spacing-s auto;
}
