.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  min-height: 240px;
  background: transparent url('/assets/gif/loading.gif') no-repeat scroll center
    center;
  background-size: 40px;
}

button {
  margin: 0 auto;
  justify-self: center;
}
