@use '@angular/material' as mat;

// Custom colors get defined here

$primary: mat.define-palette(
  (
    50: #e8f0f7,
    100: #c1d9ec,
    200: #98c1e1,
    300: #6fa8d5,
    400: #5192cc,
    500: #337bc3,
    600: #2d70b8,
    700: #2464ac,
    800: #1c59a0,
    900: #0f4291,
    A100: #6fa8d5,
    A200: #5192cc,
    A400: #337bc3,
    A700: #2464ac,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #ffffff,
      A200: #ffffff,
      A400: #ffffff,
      A700: #ffffff,
    ),
  )
);

$accent: mat.define-palette(
  (
    50: #f2f2f2,
    100: #d9d9d9,
    200: #bfbfbf,
    300: #a6a6a6,
    400: #8c8c8c,
    500: #737373,
    600: #666666,
    700: #595959,
    800: #4d4d4d,
    900: #404040,
    A100: #a6a6a6,
    A200: #8c8c8c,
    A400: #737373,
    A700: #595959,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #ffffff,
      A400: #ffffff,
      A700: #ffffff,
    ),
  )
);

$warn: mat.define-palette(mat.$red-palette);
