<header>
  <mat-toolbar>
    <a class="brand" routerLink="/">PhotoStream</a>

    <button
      [disableRipple]="true"
      class="nav-button"
      data-cy="photo-link"
      mat-button
      routerLink="/photos"
      routerLinkActive="active"
    >
      Photos
    </button>
    <button
      [disableRipple]="true"
      class="nav-button"
      data-cy="favourites-link"
      mat-button
      routerLink="/favourites"
      routerLinkActive="active"
    >
      Favourites
    </button>
  </mat-toolbar>
</header>
