@use 'sizes' as sizes;
@use 'animations' as animations;
@use 'palettes' as palettes;

img {
  height: 80%;
  object-fit: contain;
  filter: saturate(0.5);
}

a,
a:visited {
  text-decoration: inherit;
  color: inherit;
}

.brand {
  font-weight: 400;
  font-size: sizes.$font-xl;
}

.nav-button {
  outline: 1px transparent solid;
  color: map-get(palettes.$accent, 100);
  transition: animations.$medium-duration outline-color;

  &:first-of-type {
    margin-left: sizes.$spacing-l;
  }

  &:not(:last-of-type) {
    margin-right: sizes.$spacing-s;
  }

  &.active {
    outline-color: map-get(palettes.$accent, 100);
  }

  &:hover:not(.active),
  &:focus:not(.active) {
    outline: 1px map-get(palettes.$accent, 100) solid !important; // override material button styles
  }

  ::ng-deep {
    // Disables hover effect
    .mat-mdc-button-persistent-ripple::before {
      display: none;
    }
  }
}

mat-toolbar {
  background: map-get(palettes.$primary, 400);
  color: white;
  padding: 0.5rem 1rem;
}
