<header>
  <mat-toolbar color="primary">
    <!--    <img src="/assets/img/logo_3.png" />-->
    <a routerLink="/">PhotoStream</a>

    <!--I recommend anchors over buttons for links-->
    <!--but the requirements are different-->
    <button
      [disableRipple]="true"
      mat-button
      routerLink="/photos"
      routerLinkActive="active"
    >
      Photos
    </button>
    <button
      [disableRipple]="true"
      mat-button
      routerLink="/favourites"
      routerLinkActive="active"
    >
      Favourites
    </button>
  </mat-toolbar>
</header>
